
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 20px;
}


.header {

    background-color: #f0f3f8;

    
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.header h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.search-bar {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
}


.toolbar {
  
    display: block; 
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    overflow: hidden; 
}

.results-text {
    float: left;
    font-weight: bold;
    margin-top: 5px;
}

.filters {
    float: right;
}

select {
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.card {
    width: 240px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    background: #fff;
    transition: 0.3s;

    display: block; 
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


.badge {
    float: left; 
    padding: 4px 8px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}




.product-img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    display: block;
    margin-bottom: 10px;
}


.card-details .category {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
    display: block;
}

.card-details h3 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize; 
}

.stars {
    color: #ffc107;
    font-size: 12px;
    margin-bottom: 10px;
}

.price-box {
    overflow: hidden; 
    margin-bottom: 10px;
}

.current-price {
    font-weight: bold;
    font-size: 16px;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 13px;
    margin-left: 5px;
}


.add-btn {
    width: 100%;
    padding: 8px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
   
    background: linear-gradient(to right, #238e3c, #228237);
}

.add-btn:hover {
    background: linear-gradient(to right, #1c692d, #1c6b2e);
}